.ifm-section {
    margin-bottom: 1px;
}

.ifm-section .release-input {
    margin-right: 18px;
    width: 25%;
    display: inline-block;
} 

.features-list-table {
    width: 100%;
}

.release-input-error {
    width: 78%;
}


.separator {
    width: 100%;
}