.ifm-section {
    margin-bottom: 1px;
}

.release-input {
    margin-right: 18px;
    width: 100%;
    display: inline-block;
} 

.features-list-table {
    width: 100%;
}

.release-input-error {
    width: 78%;
}


.separator {
    width: 100%;
}

.feature-list-info {
    -webkit-overflow-scrolling: touch;
    max-height: 50vh;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.button-save-release{
    margin-right: 10px;
}